body {
  margin: 0;
}

canvas {
  border: 1px solid black;
  background: black;
}

.container span {
  display: table-cell;
  vertical-align: top;
  line-height: normal;
}

.console {
  font-family: serif;
  font: georgia;
  font-size: large;
}
